{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}<title>Qalereya</title>{% endblock %}
</head>
<body>
{% block content %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">

    <main class="grid">
        <img src="{% static 'gallery/wedding1.jpg' %}" alt="Sample photo">
        <img src="{% static 'gallery/wedding2.jpg' %}" alt="Sample photo">
        <img src="{% static 'gallery/wedding3.jpg' %}" alt="Sample photo">
        <img src="{% static 'gallery/wedding4.jpg' %}" alt="Sample photo">
        <img src="{% static 'gallery/wedding5.jpg' %}" alt="Sample photo">
        <img src="{% static 'gallery/wedding6.jpg' %}" alt="Sample photo">
    </main>

{% endblock %}

</body>
</html>